body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

button {
    background: #f5ff6f;
    color: #2D3142;
    font-family: Helvetica, sans-serif;
    border: none;
    border-radius: 20px;
    padding: 30px;
    font-size: 2em;
}